mixin navItem(id, title)

    li
        a(href='#section-#{id}') #{title}


mixin skill(icon, title, subtitle, description)

    div.item.skill
        
        i(class='icon icon-#{icon}')

        div.text
            p: em #{title}
            h3 #{subtitle}
            p !{description}


mixin work(url, image, title, description)

    div.item.work
            
        a(href='#{url}', target='_blank')
            
            div.overlay: div.btn Open Website
            img(class='lazy', src='./dist/images/placeholder.png', data-original='./dist/images/#{image}', width='575', height='324', alt='')

        p
            strong #{title}
            br
            | #{description}


mixin quote(quote, name, position, company, url)

    blockquote

        p
            mark &ldquo;
            | #{quote}
            mark &rdquo;

        footer
            p
                em #{name}
                br
                | #{position} at 
                a(href='#{url}', target='_blank') #{company}.


mixin process(unit, percent, title, description)

    div.chart
        div.stat(data-text='#{unit}', data-percent='#{percent}', data-dimension='150', data-width='2', data-fontsize='20', data-fgcolor='#C32F34', data-bgcolor='#ffffff')
        p: em #{title}
        p #{description}


mixin event(icon, position, agency, datetime, duration, description)

    li.timeline-event
    
        div.timeline-icon: i(class='icon icon-timeline-#{icon}')
        
        div.timeline-label
            p: em #{position}
            h3 #{agency}
            p: time(datetime='#{datetime}') !{duration}
            p !{description}


